* {
  margin: 0;
}

/* Header */

.seaction1 {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
}
.nav {
  width: 100%;
  justify-content: space-between;
}
.icon-box {
  width: 48px;
  height: 48px;
  justify-content: center;
}

/* Hero Text  */
.container {
  display: flex;
  height: 73px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #fff;
}

.font {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  font-family: Inter;
}

.conttext {
  display: flex;
  width: 100%;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
}

/* Picture 1 */

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid #fff;
}

.figure1 {
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  display: flex;
  padding-bottom: 22px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-bottom: 12px solid #fff;
}

.link {
  background-image: url(/Figure@2x.png);
  background-size: cover;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
}

.frame24 {
  display: flex;
  width: 241px;
  height: 114px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 350px;
  padding-left: 75px;
}

.frame244 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.titlef {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.title2 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.learnmore {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: #0071e3;
}

.learnmoree {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid #2997ff;
}

.fontts {
  color: #fff;
}

.fonttts {
  padding: 8px 20px;
  color: #2997ff;
}

/* Background 2  */

.background2 {
  width: 100%;
  height: 500px;
  background-image: url(/Figuure.png);
}

.frame5 {
  width: 241;
  height: 114;
  gap: 16px;
  top: 36px;
  left: 75px;
}

.frame245 {
  width: 241;
  height: 62;
  gap: 4px;
}

.ffont {
  color: #f5f5f7;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.fffonts {
  color: #f5f5f7;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.both {
  text-align: center;
  font-family: Inter;
  font-style: normal;
}

.lmcolor {
  border-radius: 999px;
  background: #fff;
}

.bcolor {
  border-radius: 999px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.letter {
  width: 66;
  height: 36;
  border-radius: 999px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  gap: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.learnmoreey {
  width: 107;
  height: 36;
  border-radius: 999px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background: rgba(255, 255, 255, 1);
  gap: 10px;
}

/* Background 3 */

.background3 {
  background-image: url(/Figure.png);
  width: 100%;
  height: 500px;
}

.frame4 {
  display: flex;
  width: 241px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.spacingpage2 {
  display: flex;
  border-top: 36px;
  border-right: 75px;
  border-left: 75px;
}

.ffffonts {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

/* Background 4 */

.background4 {
  background-image: url(/human.png);
  width: 100%;
  height: 500px;
}

.frame25 {
  display: flex;
  width: 241px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttonn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

/* Background 5 */

.background5 {
  background-image: url(/watch.png);
  width: 100%;
  height: 500px;
}

.botth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.WATCHFONT {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.series10 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

/* Background 6 */

.background6 {
  background-image: url(/computer.png);
  width: 100%;
  height: 500px;
}

.headerr {
  display: flex;
  width: 257px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.bother {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  padding-top: 46px;
  padding-right: 119.5px;
}

.macbook {
  display: flex;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding-top: 42px;
  padding-left: 62px;
}

/* Background 7 */

.background7 {
  background-image: url(/emoji.png);
  width: 100%;
  height: 500px;
}

.emoji {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  align-self: stretch;
  padding-top: 46px;
  padding-left: 66px;
}

.buttton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 36px;
  height: 107px;
}
.outline {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: #0071e3;
}

.fontss {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Background 8 */

.background8 {
  background-image: url(/phone.png);
  width: 100%;
  height: 500px;
}

.link2 {
  display: flex;
  width: 516px;
  height: 490px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.frame26 {
  display: flex;
  width: 314px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.frame261 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.typography {
  color: #1d1d1f;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.secondfont {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: stretch;
}

.burton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.learnd {
  display: flex;
  width: 126px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 999px;
  background: #0071e3;
}

.fonto {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Background 9 */

.background9 {
  width: 100%;
  height: 500px;
  background-image: url(/twoiphones.png);
}

.scroll-container {
  width: 100vw;
  overflow: scroll;
}

.scroll {
  width: fit-content;
  gap: 16px;
}

.fullsize {
  width: 390px;
  height: 533px;
}

.tablist {
  width: 220px;
  height: 8px;
}

/* Section 10 */

.section10 {
  width: 100%;
  height: 216px;
  background: #fff;
}

.images {
  border-radius: 8px;
  width: 114px;
  height: 114px;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 5px;
}

.pic1 {
  width: 238px;
  height: 134px;
  background-color: #6529cf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apple {
  display: flex;
  width: 41px;
  height: 9.67px;
  padding-bottom: 11px;
  padding-right: 5px;
}

.imagesize {
  display: flex;
  width: 238px;
  height: 134px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(29, 29, 31, 0.5) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}
